@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/master.cshtml";
}


<div class="section clearfix" style="width:742px;">
 <h2 style="font-weight:bold">Volunteers</h2>

    <p>
    The sanctuary is run by volunteers, most of whom work full-time. We are always glad to have the offer of support and now that we have moved into our newer, bigger premises, we are greatly in need of volunteers.
    </p>
    <br/>
    <p>
    If you have a couple of hours to spare please <a href="/Default.swg?link=Contact">contact us.</a>
   and offer your services. We need you if you want to help with cleaning, painting, gardening, or if you would like to make tea and coffee at Church on a Sunday, or if you are great at odd jobs.
    </p>

    <br/>    
    <p>
    We have lights that need fixing, doors that need painting, towel rails that need hanging.
    No amount of time is too little so please if you have some to spare, offer it to us.
    </p>
    <br/>
    <p>
    Thank you.
    </p></div>