@{
    ViewBag.Title = "ChurchService";
    Layout = "~/Views/master.cshtml";
}

<div class="section clearfix" style="width:742px;">

<img src="@Url.Content("~/css/god.gif")" align="right">
    
    <h2 style="font-weight:bold">The Church Service</h2>
    <br>
    <p style="font-size:11pt;margin-bottom:15px">
        Spirit of Life holds a weekly church service on Sunday nights in the Sanctuary. 
    </p>
    <p style="font-size:11pt;margin-bottom:15px">
        Each week a different medium is invited to take the service. As well as our own trained mediums, others have
        travelled from Tranent, Glasgow and further afield have been part of our service, 
    </p>

    <p style="font-size:11pt;margin-bottom:15px">Doors open at 6.30 p.m. with a prompt start at 7.00 p.m.</p>

    <p style="font-size:11pt;margin-bottom:15px">
        Tea and coffee is served after the church and a healing circle is also held at 8.30pm.
    </p>
    <p style="font-size:11pt;margin-bottom:15px">
        All are welcome to stay for the Healing Circle, which can give peace and upliftment for the week ahead. 
    </p></div>