@{
    Layout="master.cshtml";
}

<div class="section clearfix" style="width:742px;">

<h1>testing</h1>

<div class="form-item">
<label for="message-name">Your name</label> 
<input type="text" maxlength="255" name="name" id="contact-name" size="60" value="" class="form-text" /> 
</div> 


<div class="form-item">
<label for="message-mail">Your e-mail address</label> 
<input type="text" maxlength="255" name="name" id="contact-email" size="60" value="" class="form-text" /> 
</div> 

<div class="form-item" style="display:none"> 
<label for="message-cid">Reason for contacting us</label> 
<select name="cid" class="form-select" id="edit-cid" >
	<option value="0">- Please choose -</option>
</select> 
</div> 

<div class="form-item"> 
<label for="message-message">Message</label> 
<textarea cols="60" rows="5" name="message" id="contact-message"  class="form-textarea"></textarea> 
</div> 

<input type="button" onclick="javascript:submit()" name="op" id="edit-submit" value="Send Message"  class="form-submit" />

</div> 