@{
    ViewBag.Title = "Workshops";
    Layout = "~/Views/master.cshtml";
}


<div class="section clearfix" style="width:742px;">

<h2 style="font-weight:bold">Workshops</h2>
<br>
<p style="font-size:11pt;margin-bottom:15px">
    <strong>Development Workshops</strong> run for 10 weeks and allow you to have taster sessions on meditation, 
    spiritual healing, clairvoyance, psychometry, and transfiguration. 
    The courses are led by trained mediums and offer an interesting insight into the world of Spiritualism. 
    If you are interested please <a href="/Default.swg?link=Contact">contact us.</a>
    We will add your details to our waiting list and contact you once we are ready to begin our next class. Before the class you will be asked along for a chat to ascertain whether this is the right path for you at this moment. You will also be given further details regarding the commitment required in terms of time and costs.
</p>

<p>
The following classes are only offered once the Development Workshop has been completed:
</p><br/>
<p style="font-size:11pt;margin-bottom:15px">
    <strong>Spiritual Healing</strong> Classes are offered after our Healing Circle on a Sunday evening. You will be taught the art of spiritual healing alongside the legalities and protocols. This is the main focus of our work and the reason why the Spirit of Life Sanctuary has been formed.
</p>

<p style="font-size:11pt;margin-bottom:15px">
    <strong>Introduction to Clairvoyance/Advanced Clairvoyance</strong>  classes run every Monday and Thursday evening from 7pm and allow members to develop skills learned in the development workshop. Many of our members go on to be platform mediums, working in Church on a Sunday or at our demonstration evenings to raise funds for our charity    </p>
</p></div>